@font-face {
    font-family: Minecraft;
    src: url(../otros/Minecraft-Seven_v2.ttf);
}
body{
    font-family: Minecraft;
    background-image: url(../otros/imagenes/FondoMinecarft.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 10%;
}
h1{
    position: fixed;
    top: -20px;
    left: 38%;
    font-size: 5em;
    color: black;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.2) 100%);
    padding: 15px 7px 7px 15px;
    backdrop-filter: blur(5px);
}
h1::after{
    content: "OVERWORLD";
    position: absolute;
    top: 5px;
    left: 1%;
    background: linear-gradient( #6cc5f5, #0d901c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Nether{
    float: left;
    position: fixed;
    top: 10%;
    left: 5%;
    font-size: 3em;
    color: black;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.2) 100%);
    padding: 15px 7px 7px 15px;
    backdrop-filter: blur(5px);
}

#Nether::after{
    content: "<- NETHER";
    position: absolute;
    top: 10px;
    left: 5%;
    background: linear-gradient( #e9700d, #a10707);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#End{
    float: right;
    float: left;
    position: fixed;
    top: 10%;
    left: 90%;
    font-size: 3em;
    color: black;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.2) 100%);
    padding: 15px 7px 7px 15px;
    backdrop-filter: blur(5px);
}

#End::after{
    content: "END ->";
    position: absolute;
    top: 10px;
    left: 5%;
    background: linear-gradient( #e8f0b2 40%, #6614f3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.indice {
    width: 20%;
}

details summary {
    clear: both;
    list-style: none;
    cursor: pointer;
    padding-top: 2%;
}

.inicio {
    width: 100%;
}

.pergamino {
    width: 100%;
    height: 60dvh;
    position: relative;
    top: -1.5em;
    left: 0.5em;
}

.fin {
    position: relative;
    top: -4em;
}



