body{
    background-image: linear-gradient(to bottom, #98afc7, #fcffff);
}
ul,ol,li{
    margin: 0px;
    padding: 0px;
    list-style:none;
}

h1,h2,h3,p,form{
    margin: 0px;
    padding: 0px;
}

#clear{
    clear: both;
}

div#contenedor>div, #publicidad{
    border: 3px #777 solid;
}

#contenedor{
    width: 90%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    border: 3px red solid;
    margin: 1em 3em;

}

#cabecera{
    background-image: url(imagenes/ciudad.jpg);
    background-size: 140% 500%;
    float: left;
    width: 96.2%;
    height: 50px;
    padding: 1em;
}
#logo{
    float: left;
    width: 80%;
}

#buscador{
    color: white;
}

#lateral{
    float: left;
    width: 20%;
}
#contenido{
    float: right;
    width: 78%;
}
#contenido #principal{
    background: repeating-linear-gradient(#0000FF,#00FF00 20%,#0000FF 40%);
    float: left;
    width: 78%;
}

#contenido #secundario{
    background: repeating-linear-gradient(#FF00FF,#FFFF00 20%,#00FFFF 20%, #FFFFFF 30%);
    float: right;
    width: 20%;
}

#menu, #pie{
    clear: both;
}
#menu_principal{
    background: radial-gradient(circle at center, hsla(200, 100%, 50%, 1), hsla(0, 100%, 50%, 1));
    display: flex;
    gap:10px;
    padding: 0.5em;
    margin-bottom: 0.5em;
}   

#menu_principal li a{
    text-decoration: none;
    
}

#noticias, #publicidad, #principal, #secundario{
    padding: 0.2em;
}
#pie{
    background: radial-gradient(ellipse 300px 100px at bottom left, 
      hsla(200, 100%, 50%, 1), 
      hsla(0, 100%, 50%, 1), 
      hsla(100, 100%, 50%, 1));
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
}

.articulo{
    margin-left: 1em;
    margin-right: 1em;
}

.articulo img{
    margin: 0.5em;
}

#publicidad {
    margin-top: 1em;
}

#noticias h3, #publicidad h3, #principal h2, #secundario h2{
    background-color: #d2defb;
}
#lateral{
    background: repeating-linear-gradient(#99FF00, #9900FF);
}